- provide(:nav_section, 'tasks')

.page-header
  %h1.title
    Tasks

.alert.alert-light
  %i.fa.fa-info-circle
  Importing records will automatically start the process to check HathiTrust and Internet Archive services.

%table.table
  %tr
    %td Records
    %td
      - if @last_fs_import
        - if @last_fs_import.completed_at
          Last imported
          = local_time_ago(@last_fs_import.completed_at)
        - else
          Import in Progress
      - else
        Never imported
    %td
      = form_tag(import_path, method: 'post') do
        = submit_tag('Import', class: 'btn btn-primary btn-sm')
  %tr
    %td HathiTrust
    %td
      - if @last_ht_check and @last_ht_check.completed_at
        Last checked
        = local_time_ago(@last_ht_check.completed_at)
      - else
        Never checked
  %tr
    %td Internet Archive
    %td
      - if @last_ia_check and @last_ia_check.completed_at
        Last checked
        = local_time_ago(@last_ia_check.completed_at)
      - else
        Never checked
    %td
  %tr
    %td Google
    %td
      - if @last_gb_check and @last_gb_check.completed_at
        Last checked
        = local_time_ago(@last_gb_check.completed_at)
      - else
        Never checked
    %td
      %button.btn.btn-primary.btn-sm{ 'data-target': '#check-google-modal',
                                        'data-toggle': 'modal',
                                        type: 'button' }
        Check

%input{type: 'hidden', name: 'auto-update-frequency', value: '4000'}

#tasks_list
  = render partial: 'tasks'

= render partial: 'check_google_panel'
