- provide(:nav_section, 'books')

.page-header
  %h1.title Books

%h4.card-title Last Updates
%table.table.table-sm
  %tr
    %td Local Index
    %td= @dates[:local_storage].present? ? local_time(@dates[:local_storage], '%B %e, %Y') : 'Never'
  %tr
    %td HathiTrust
    %td= @dates[:hathitrust].present? ? local_time(@dates[:hathitrust], '%B %e, %Y') : 'Never'
  %tr
    %td Internet Archive
    %td= @dates[:internet_archive].present? ? local_time(@dates[:internet_archive], '%B %e, %Y') : 'Never'
  %tr
    %td Corporate Partners
    %td= @dates[:google].present? ? local_time(@dates[:google], '%B %e, %Y') : 'Never'

.card
  .card-body.bg-light
    %h4.card-title Filter
    = form_tag(books_path, method: 'post',
               class: 'form-inline book-tracker-search') do
      .row
        .col-sm-9
          %table.table
            %tr
              %th In:
              %td
                = label_tag('', class: 'checkbox-inline') do
                  = check_box_tag('in[]', 'ht', (params[:in] and params[:in].include?('ht')),
                  { id: 'in-ht', class: 'book-tracker-service-checkbox' })
                  HathiTrust
              %td
                = label_tag('', class: 'checkbox-inline') do
                  = check_box_tag('in[]', 'ia', (params[:in] and params[:in].include?('ia')),
                  { id: 'in-ia', class: 'book-tracker-service-checkbox' })
                  Internet Archive
              %td
                = label_tag('', class: 'checkbox-inline') do
                  = check_box_tag('in[]', 'gb', (params[:in] and params[:in].include?('gb')),
                  { id: 'in-gb', class: 'book-tracker-service-checkbox' })
                  Corporate Partners
              %td
                %button.btn.btn-default.btn-sm.mbt-check-all
                  &check;
                %button.btn.btn-default.btn-sm.mbt-check-all.mbt-uncheck-all
                  &times;
            %tr
              %th Not in:
              %td
                = label_tag('', class: 'checkbox-inline') do
                  = check_box_tag('ni[]', 'ht', (params[:ni] and params[:ni].include?('ht')),
                  { id: 'ni-ht', class: 'book-tracker-service-checkbox' })
                  HathiTrust
              %td
                = label_tag('', class: 'checkbox-inline') do
                  = check_box_tag('ni[]', 'ia', (params[:ni] and params[:ni].include?('ia')),
                  { id: 'ni-ia', class: 'book-tracker-service-checkbox' })
                  Internet Archive
              %td
                = label_tag('', class: 'checkbox-inline') do
                  = check_box_tag('ni[]', 'gb', (params[:ni] and params[:ni].include?('gb')),
                  { id: 'ni-gb', class: 'book-tracker-service-checkbox' })
                  Corporate Partners
              %td
                %button.btn.btn-default.btn-sm.mbt-check-all
                  &check;
                %button.btn.btn-default.btn-sm.mbt-check-all.mbt-uncheck-all
                  &times;
        .col-sm-3
          = hidden_field_tag(:ht, params[:ht])
          = hidden_field_tag(:ia, params[:ia])
          = text_area_tag(:q, params[:q], placeholder: 'Filter by term or list of bib or object IDs',
                               class: 'form-control', rows: 4, style: 'width:100%')
          .float-right
            = button_tag('Clear', class: 'btn btn-default mbt-clear')
            = submit_tag('Filter', class: 'btn btn-primary')

.row
  .col-sm-8
    %h4
      = number_with_delimiter(@count) + ' books'
      - if @missing_ids.any?
        = link_to("#{@missing_ids.length} IDs not found", '#',
        id: 'book-tracker-ids-not-found',
        class: 'btn btn-default btn-xs btn-danger',
        data: { toggle: 'modal', target: '#missing-ids-modal' },
        title: 'Missing IDs')
  .col-sm-4{style: 'text-align:right'}
    .btn-group{role: 'group'}
      .btn-group{role: 'group'}
        %button.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Export
        .dropdown-menu.dropdown-menu-right
          = link_to('JSON', @allowed_params.merge(format: 'json'), class: 'dropdown-item')
          = link_to('CSV', @allowed_params.merge(format: 'csv'), class: 'dropdown-item')
          = link_to('MARCXML', @allowed_params.merge(format: 'xml'), class: 'dropdown-item')

%input{type: 'hidden', name: 'num_results', value: "#{@count}"}

#items_list
  = render partial: 'books', locals: { books: @books, next_page_url: @next_page_url }

= render layout: 'layouts/bootstrap_modal', locals: {id: 'missing-ids-modal'} do
  .modal-header
    %h5.modal-title
      Missing IDs
    %button.close{ 'type' => 'button', 'data-dismiss' => 'modal' }
      %span{'aria-hidden' => 'true'}
        &times;
      %span.sr-only
        Close
  .modal-body
    %ul
      = raw(@missing_ids.uniq.map{ |id| "<li>#{id}</li>" }.join)
