.row
  .col-sm-9
    .page-header
      %h1.title
        = @book.title.present? ? @book.title : 'Untitled'
        - if @book.volume.present?
          %br
          %small.volume= @book.volume
        - if @book.author.present?
          %br
          %small.author= @book.author
        - if @book.date.present?
          %br
          %small.date= @book.date

  .col-sm-3
    .btn-group.float-right{role: 'group'}
      %button.btn.btn-light.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        View In&hellip;
      .dropdown-menu.dropdown-menu-right
        = link_to('UIUC Catalog', @book.uiuc_catalog_url, target: '_blank', type: 'button',
            class: 'dropdown-item')
        = link_to('HathiTrust', @book.hathitrust_handle, target: '_blank', type: 'button',
            class: 'dropdown-item ' + (@book.exists_in_hathitrust ? '' : 'disabled'))
        = link_to('Internet Archive', @book.internet_archive_url, target: '_blank', type: 'button',
            class: 'dropdown-item ' + (@book.exists_in_internet_archive ? '' : 'disabled'))

      = link_to('JSON', book_path(@book, format: :json),
                    class: 'btn btn-light', type: 'button', target: '_blank')
.row
  .col-sm-8
    .card
      %h5.card-header Ingest
      .card-body
        %dl
          %dt Object Key
          %dd= @book.source_path
          %dt First Ingest
          %dd= local_time(@book.created_at)
          %dt Latest Update
          %dd= local_time(@book.updated_at)
  .col-sm-4
    .card
      %h5.card-header Info
      .card-body
        %dl
          %dt Bib ID
          %dd= @book.bib_id
          %dt Object ID
          %dd= @book.obj_id
          %dt Medusa ID
          %dd= @book.id
          %dt OCLC Number
          %dd= @book.oclc_number
          %dt HathiTrust Rights
          %dd= @book.exists_in_hathitrust ? readable_hathitrust_rights(@book) : 'N/A'
          %dt HathiTrust Access
          %dd= @book.exists_in_hathitrust ? @book.hathitrust_access : 'N/A'
          %dt Language
          %dd= @book.language
          %dt Subjects
          %dd= @book.subject&.split(Book::SUBJECT_DELIMITER)&.join(', ')

%h2 MARCXML

%pre= @book.raw_marcxml
