%body
  %header
    = render partial: 'layouts/library_header'
    %nav.navbar.navbar-expand-md{:role => "navigation"}
      = link_to 'Book Tracker', root_path, class: 'navbar-brand'
      %button.navbar-toggler{"aria-controls": "navbarColor01",
                             "aria-expanded": "false",
                             "aria-label": "Toggle navigation",
                             "data-target": "#navbarColor01",
                             "data-toggle": "collapse",
                             type: "button"}
        %span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li#books-nav.nav-item{class: yield(:nav_section) == "books" ? "active" : nil }
            = link_to books_path, class: 'nav-link' do
              %i.fa.fa-book
              Books
          %li#items-nav.nav-item{class: yield(:nav_section) == "tasks" ? "active" : nil }
            = link_to tasks_path, class: 'nav-link' do
              %i.fa.fa-tasks
              Tasks
          %li#help-nav.nav-item
            = link_to "https://wiki.illinois.edu/wiki/display/scrs/Book+Tracker", class: 'nav-link' do
              %i.fa.fa-question-circle
              Help